<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<profiles>
		<profile>
			<id>spring</id>
			<repositories>
				<repository>
					<id>spring-commercial-release</id>
					<name>Spring Commercial Release Repository</name>
					<url>${env.COMMERCIAL_RELEASE_REPO_URL}</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>spring-commercial-snapshot</id>
					<name>Spring Commercial Snapshot Repository</name>
					<url>${env.COMMERCIAL_SNAPSHOT_REPO_URL}</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>spring-libs-snapshot</id>
					<name>Spring Snapshot Repository</name>
					<url>${env.COMMERCIAL_SNAPSHOT_REPO_URL}</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>release</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.passphrase>${env.passphrase}</gpg.passphrase>
			</properties>
		</profile>
	</profiles>
	<servers>
		<server>
			<id>central</id>
			<username>${env.central_username}</username>
			<password>${env.central_password}</password>
		</server>
		<server>
			<id>sonatype-nexus-staging</id>
			<username>${env.sonatype_username}</username>
			<password>${env.sonatype_password}</password>
		</server>
		<server>
			<id>spring-commercial-snapshot</id>
			<username>${env.COMMERCIAL_ARTIFACTORY_USERNAME}</username>
			<password>${env.COMMERCIAL_ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>spring-commercial-release</id>
			<username>${env.COMMERCIAL_ARTIFACTORY_USERNAME}</username>
			<password>${env.COMMERCIAL_ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>repo.spring.io</id>
			<username>${env.spring_username}</username>
			<password>${env.spring_password}</password>
		</server>
		<server>
			<id>spring-libs-milestones</id>
			<username>${env.spring_username}</username>
			<password>${env.spring_password}</password>
		</server>
		<server>
			<id>spring-libs-snapshots</id>
			<username>${env.COMMERCIAL_ARTIFACTORY_USERNAME}</username>
			<password>${env.COMMERCIAL_ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>spring-libs-releases</id>
			<username>${env.COMMERCIAL_ARTIFACTORY_USERNAME}</username>
			<password>${env.COMMERCIAL_ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>spring-libs-plugins</id>
			<username>${env.COMMERCIAL_ARTIFACTORY_USERNAME}</username>
			<password>${env.COMMERCIAL_ARTIFACTORY_PASSWORD}</password>
		</server>
	</servers>
</settings>